<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/MAD_Project"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAD_project"
        tools:targetApi="31">
        <activity
            android:name=".sell_listing_details"
            android:exported="false" />
        <activity
            android:name=".buy_listing_details"
            android:exported="false" />
        <activity
            android:name=".profile_page"
            android:exported="false" />
        <activity
            android:name=".post_listing"
            android:exported="false" />
        <activity
            android:name=".acc_setting"
            android:exported="false" />
        <activity
            android:name=".create_post"
            android:exported="false" />
        <activity
            android:name=".commfilter"
            android:exported="false" />
        <activity
            android:name=".listing_category"
            android:exported="false" />
        <activity
            android:name=".create_listing"
            android:exported="false" />
        <activity
            android:name=".mainfilter"
            android:exported="false" />
        <activity
            android:name=".reset_pwd"
            android:exported="false" />
        <activity
            android:name=".create_account"
            android:exported="false" /> <!-- SplashScreen Activity -->
        <activity
            android:name=".splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MainPage Activity -->
        <activity
            android:name=".mainpage"
            android:exported="true" /> <!-- LoginPage Activity -->
        <activity
            android:name=".login_page"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>